:root {
  --color-primary: #C34A36;
  --secondary-color: #B0A8B9;
  --tertiary-color: #D5CABD;


}

body {
  /* try to load the font family from google, otherwise use a build in font. */
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 1.65;
}

header {
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  padding: 1rem;
}
header img {

}

h1,
h2,
h3 {
  line-height: 1.15;
}

h1 {
  color: black;
  font-size: 3.052em;
  text-align: center;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

p,
li,
a,
figcaption {
  font-size: 1.266em;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

/* Utility Class */

/* https://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/ */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
