:root {
  --color-primary: #C34A36;
  --secondary-color: #B0A8B9;
  --tertiary-color: #926C00;
  --accent-color: #4E8397;
}

body {
  /* try to load the font family from google, otherwise use a build in font. */
  font-family: "Open Sans", sans-serif;
  background-color: var(--secondary-color);
  font-size: 10px;
  line-height: 1.65;
}

header {
  background: var(--tertiary-color);
  padding: 1rem;
}
header img {
  justify-content: center;
  display: block;
  margin: 0 auto;
}

h1,
h2,
h3 {
  line-height: 1.15;
}

h1 {
  color: var(--tertiary-color);
  font-size: 3.052em;
  text-align: center;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

p, li, a, figcaption {
  font-size: 1em;
}

/* select the odd */
main > section:nth-of-type(odd) {
  background: var(--tertiary-color);
}
main > section:nth-of-type(even) {
  background: var(--tertiary-color);
}

figcaption {
  font-size: 1.5em;
  text-align: center;
}
nav {
  background-color: var(--tertiary-color);
  padding: 2rem;
  font-size: 2em;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

footer {
  padding: 1rem;
}

footer li {
  display: inline-block;
  margin-right: 0.5rem;
}

form {
  background-color: var(--secondary-color);
  padding: 1rem 0.5rem;
}

label {
  margin-right: 0.25rem;
}

form > .flex {
  margin: 1rem 0;
}

input,
textarea {
  border: solid thin black;
  border-radius: 3px;
}

select {
  color: black;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

#cta {
  display: flex;
  background-image: url("https://unsplash.com/photos/aNN7cWjfiqM");
  flex-direction: column;
  align-items: center;
  height: 40vh;
  justify-content: center;
}

#cta p {
  color: var(--accent-color);
  font-size: 2.4em;
  text-transform: capitalize;
  font-weight: bolder;
}

.bg-trans {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
}

address li {
  margin-right: 0;
}

address li ::after {
  content: *\2022*;
}

.button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: solid thin var(--accent-color);
}
.button:focus,
.button:hover {
}

.fab {
  margin-right: 0.125rem;
}
.fa-id-card-alt {
  margin-right: 0.5rem;
}

#cta a {
  background: var(--color-primary);
  padding: 0.5em;
  border-radius: 3px;
  box-shadow: 7px 15px 46px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
}


.flex--align-items-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-content-center {
  justify-content: center;
}

.flex--justify-content-space-around {
  justify-content: space-around;
}

.flex--justify-content-space-between {
  justify-content: space-between;
}

.flex--row {
  flex-direction: row;
}

.img--responsive {
  max-width: 100%;
  height: auto;
}

.text-align--center {
  text-align: center;
}

@media screen only and (min-width: 960px) {
  .md-flex {
    display: flex;
  }
}

.md-flex-flex-direction--row {
  flex-direction: row;
}


/* https://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding/ */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

